$accentColor: #FA4A0C;
$whiteColor: #fff;
$textColor: #252b42;
$backgroundColor: aqua;
$font-family: "Montserrat", sans-serif;
$second-family: "Poppins", sans-serif;
$third-family: "Roboto", sans-serif;